<div ng-controller="AccountOrdersController">
    <span style="cursor: pointer;" ng-click="refresh()" class="glyphicon glyphicon-repeat pull-right"></span>
    <h4 class="mt-20">Open Orders for account <ng-include src="'components/templates/accountList.html'"></h4>
    <div class="col-md-12">
        <div class="alert alert-success" ng-if="cancelledTransaction">
            Succesfully cancelled order. Transaction {{cancelledTransaction}}
        </div>
    </div>
    <div class="col-md-12">
        <h5 style="color: #999; font-weight: normal;">Open Sell Orders</h5>
        <div ng-if="askOrders.length">
            <div class="table-responsive box">
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-green">
                    <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in askOrders" ng-class="{unconfirmed: order.unconfirmed}">
                        <td>{{order.tx_name}}</td>
                        <td>{{order.quantityQNT | formatBalanceNQT:order.nm_decimals | number }} {{asset.tx_name}}</td>
                        <td>{{order.priceNQT | formatPriceNQT:order.nm_decimals | number}} NXT</td>
                        <td ng-if="!order.unconfirmed"><button class="btn btn-danger pull-right" ng-click="cancelAskOrder(order.order)" ladda="loading">Cancel</button></td>
                        <td ng-if="order.unconfirmed"><span class="pull-right">/</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!askOrders.length">
            <p style="font-style: italic;">This account has no ask orders.</p>
        </div>
    </div>
    <div class="col-md-12" style="padding-top: 20px;">
        <h5 style="color: #999; font-weight: normal;">Open Buy Orders</h5>
        <div ng-if="bidOrders.length">
            <div class="table-responsive box">
                <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-red">
                    <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in bidOrders" ng-class="{unconfirmed: order.unconfirmed}">
                        <td>{{order.tx_name}}</td>
                        <td>{{order.quantityQNT | formatBalanceNQT:order.nm_decimals | number }} {{asset.tx_name}}</td>
                        <td>{{order.priceNQT | formatPriceNQT:order.nm_decimals | number}} NXT</td>
                        <td ng-if="!order.unconfirmed"><button class="btn btn-danger pull-right" ng-click="cancelBidOrder(order.order)" ladda="loading">Cancel</button></td>
                        <td ng-if="order.unconfirmed"><span class="pull-right">/</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!bidOrders.length">
            <p style="font-style: italic;">This account has no bid orders.</p>
        </div>
    </div>
</div>
