<div ng-controller="AccountAssetsController">
    <span style="cursor: pointer;" ng-click="refresh()" class="glyphicon glyphicon-repeat pull-right"></span>
    <h4 class="mt-20">Assets owned by <ng-include src="'components/templates/accountList.html'"></h4>
    <div class="col-md-12">
        <div ng-if="assets.length">
            <div class="table-responsive box">
                <span class="pull-left">
                    Total value of all assets: <strong>{{totalValue | number}} NXT</strong>.
                </span>
                <table datatable="ng" dt-options="dtOptions" class="table table-striped table-purple">
                    <thead>
                    <tr>
                        <th>Asset</th>
                        <th>Last price</th>
                        <th>Quantity Owned</th>
                        <th>Quantity Issued</th>
                        <th>Percentage</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="asset in assets">
                        <td><button class="btn-link" ng-click="showModal($index)">{{asset.tx_name}}</button></td>
                        <td>{{asset.last_price | number}} NXT</td>
                        <td>{{asset.balance | number:asset.nm_decimals}}</td>
                        <td>{{asset.quantity | number:asset.nm_decimals}}</td>
                        <td>{{((asset.balance / asset.quantity) * 100) | decimal}} %</td>
                        <td>{{asset.balance * asset.last_price | number}} NXT</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div ng-if="!assets.length">
            <p style="font-style: italic; padding-top: 20px;">This account has no assets</p>
        </div>
    </div>
</div>