<div ng-controller="AssetsController">
    <h4 class="mt-20">All assets</h4>
    <div class="col-md-12">
        <div class="table-responsive box">
            <table class="table table-striped table-orange" id="assets-table" datatable="" dt-options="dtOptions" dt-columns="dtColumns">
            </table>
        </div>
    </div>
</div>
