<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">{{asset.tx_name}}</h4>
            </div>
            <div class="modal-body" ng-controller="AssetController">
                <div class="pull-right" ng-include="'components/templates/accountList.html'"></div>
                <div bs-tabs>
                    <div title="Details" bs-pane>
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td><strong>Asset Id</strong></td>
                                <td><a target="_blank" href="http://mynxt.info/blockexplorer/assets.php?asset={{asset.tx_asset_id}}">{{asset.tx_asset_id}} <i class="glyphicon glyphicon-new-window"></i></a></td>
                            </tr>
                            <tr>
                                <td><strong>Name</strong></td>
                                <td>{{asset.tx_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Owner</strong></td>
                                <td>
                                    <a target="_blank" href="http://mynxt.info/blockexplorer/details.php?action=ac&ac={{asset.tx_owner}}">{{asset.tx_owner | toRS}} <i class="glyphicon glyphicon-new-window"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Issued Quantity | Decimals</strong></td>
                                <td>{{asset.quantity | number}} | {{asset.nm_decimals}}</td>
                            </tr>
                            <tr>
                                <td><strong>Total Trades</strong></td>
                                <td>{{asset.nm_trades | number}}</td>
                            </tr>
                            <tr>
                                <td><strong>Highest Buy | Lowest Sell</strong></td>
                                <td>{{buy.orders[0].priceNQT | formatPriceNQT:asset.nm_decimals |  number}} NXT | {{sell.orders[0].priceNQT | formatPriceNQT:asset.nm_decimals | number}} NXT</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Issuer provided description</h3>
                            </div>
                            <div class="panel-body">
                                <p>{{asset.tx_description}}</p>
                            </div>
                        </div>
                    </div>
                    <div title="Buy" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{assetBalance | number}} {{asset.tx_name}}</div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-sm-offset-1 alert alert-success" ng-show="buy.transaction">
                            Successfully placed order. Transaction {{buy.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="buyAssetForm" ng-submit="buyAsset(this)" method="post">
                            <div class="form-group">
                                <label for="buyQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="buy.quantity" required min="{{step}}" step="{{step}}" name="buyQuantity" type="number" class="form-control" id="buyQuantity">
                                        <span class="input-group-addon">{{asset.tx_name}}</span>
                                    </div>
                                    <small class="error" ng-show="buyAssetForm.buyQuantity.$dirty && buyAssetForm.buyQuantity.$error.min">
                                        Quantity should be at least {{step}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="buyPrice" class="col-sm-3 control-label">Price</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="buy.price" required min="0.00000001" step="0.00000001" name="buyPrice" type="number" class="form-control" id="buyPrice">
                                        <span class="input-group-addon">NXT / {{asset.tx_name}}</span>
                                    </div>
                                    <small class="error" ng-show="buyAssetForm.buyPrice.$dirty && buyAssetForm.buyPrice.$error.min">
                                        Price should be at least 0.00000001 NXT
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input disabled type="number" class="form-control"  value="{{buy.price | times:buy.quantity}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: buyAssetForm.$invalid}" ng-disabled="buyAssetForm.$invalid" class="btn btn-block btn-success" ladda="loading">Buy</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span>Lowest sell orders:</span>
                            <table class="table table-striped" ng-show="buy.orders.length">
                                <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in buy.orders" ng-click="fillBuyOrder(order)" style="cursor: pointer;">
                                    <td>{{order.priceNQT | formatPriceNQT:asset.nm_decimals | number}} NXT</td>
                                    <td>{{order.quantityQNT | formatBalanceNQT:asset.nm_decimals | number }} {{asset.tx_name}}</td>
                                    <td>{{order.priceNQT * order.quantityQNT | formatPriceNQT:asset.nm_decimals | formatBalanceNQT:asset.nm_decimals | number}} NXT</td>
                                </tr>
                                </tbody>
                            </table>
                            <p ng-show="!buy.orders.length">
                                No sell orders.
                            </p>
                        </div>
                    </div>
                    <div title="Sell" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{assetBalance | number}} {{asset.tx_name}}</div>
                            </div>
                        </div>
                        <div class="alert alert-success" ng-show="sell.transaction">
                            Successfully placed order. Transaction {{sell.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="sellAssetForm" ng-submit="sellAsset(this)" method="post">
                            <div class="form-group">
                                <label for="sellQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="sell.quantity" required min="{{step}}" max="{{assetBalance}}" step="{{step}}" name="sellQuantity" type="number" class="form-control" id="sellQuantity">
                                        <span class="input-group-addon">{{asset.tx_name}}</span>
                                    </div>
                                    <small class="error" ng-show="sellAssetForm.sellQuantity.$dirty && sellAssetForm.sellQuantity.$error.min">
                                        Quantity should be at least {{step}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="sellPrice" class="col-sm-3 control-label">Price</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="sell.price" required ="0.00000001" step="0.00000001" name="sellPrice" type="number" class="form-control" id="sellPrice">
                                        <span class="input-group-addon">NXT / {{asset.tx_name}}</span>
                                    </div>
                                    <small class="error" ng-show="sellAssetForm.sellPrice.$dirty && sellAssetForm.sellPrice.$error.min">
                                        Price should be at least 00000001 NXT
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Total</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input disabled type="number" class="form-control" value="{{sell.price | times:sell.quantity}}">
                                        <span class="input-group-addon">NXT</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: sellAssetForm.$invalid}" ng-disabled="sellAssetForm.$invalid" class="btn btn-block btn-danger" ladda="loading">Sell</button>
                                </div>
                            </div>
                        </form>
                        <div class="col-sm-10 col-sm-offset-1">
                            <span>Highest buy orders:</span>
                            <table class="table table-striped" ng-show="sell.orders.length">
                                <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="order in sell.orders" ng-click="fillSellOrder(order)" style="cursor: pointer;">
                                    <td>{{order.priceNQT | formatPriceNQT:asset.nm_decimals | number}} NXT</td>
                                    <td>{{order.quantityQNT | formatBalanceNQT:asset.nm_decimals | number }} {{asset.tx_name}}</td>
                                    <td>{{order.priceNQT * order.quantityQNT | formatPriceNQT:asset.nm_decimals | formatBalanceNQT:asset.nm_decimals | number}} NXT</td>
                                </tr>
                                </tbody>
                            </table>
                            <p ng-show="!sell.orders.length">
                                No buy orders.
                            </p>
                        </div>
                    </div>
                    <div title="Transfer" bs-pane>
                        <div class="mt-10"></div>
                        <div class="row mb-10">
                            <div class="col-sm-11">
                                <div class="label label-default pull-right">You have: {{assetBalance | number}} {{asset.tx_name}}</div>
                            </div>
                        </div>
                        <div class="alert alert-success" ng-show="transfer.transaction">
                            Successfully placed order. Transaction {{transfer.transaction}}.
                        </div>
                        <form role="form" action="javascript:void(0)" class="form-horizontal" name="transferAssetForm" ng-submit="transferAsset(this)" method="post">
                            <div class="form-group">
                                <label for="transferQuantity" class="col-sm-3 control-label">Quantity</label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input ng-model="transfer.quantity" required min="{{step}}" step="{{step}}" max="{{assetBalance}}" name="transferQuantity" type="number" class="form-control" id="transferQuantity" value="0">
                                        <span class="input-group-addon">{{asset.tx_name}}</span>
                                    </div>
                                    <small class="error" ng-show="transferAssetForm.transferQuantity.$dirty && transferAssetForm.transferQuantity.$error.min">
                                        Quantity should be at least {{step}} {{asset.tx_name}}
                                    </small>
                                    <small class="error" ng-show="transferAssetForm.transferQuantity.$dirty && transferAssetForm.transferQuantity.$error.max">
                                        Quantity should be max {{assetBalance | number}} {{asset.tx_name}}
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="transferRecipient" class="col-sm-3 control-label">Recipient</label>
                                <div class="col-sm-8">
                                    <input ng-model="transfer.recipient" required name="transferRecipient" type="text" class="form-control" id="transferRecipient">
                                    <small class="error" ng-show="transferAssetForm.transferRecipient.$dirty && transferAssetForm.transferRecipient.$error.required">
                                        Recipient is required
                                    </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3 col-sm-offset-3">
                                    <button type="submit" ng-class="{disabled: transferAssetForm.$invalid}" ng-disabled="transferAssetForm.$invalid" class="btn btn-primary btn-block" ladda="loading">Transfer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-4 pull-right">
                    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>