<!DOCTYPE html>
<html lang="en" ng-app="assets">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MyNXT asset plugin</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="dist/mynxt-asset-plugin.css"/>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css">
</head>
<body>
<div class="container-fluid" ng-controller="MainController" style="min-height: 750px;">
  <div class="row">
    <div class="col-md-12" bs-tabs>
      <div title="All Assets" bs-pane>
        <div ng-include="'components/templates/assets.html'"></div>
      </div>
      <div title="My Assets" ng-if="selectedAccount" bs-pane>
        <div ng-include="'components/templates/accountAssets.html'"></div>
      </div>
      <div title="My Orders" ng-if="selectedAccount" bs-pane>
        <div ng-include="'components/templates/accountOrders.html'"></div>
      </div>
    </div>
  </div>
</div>
  <script src="dist/mynxt-asset-plugin.min.js"></script>
</body>
</html>
